sudo: false
addons:
  apt_packages:
    - libgl1-mesa-dev
    - libgles2-mesa-dev
    - xorg-dev
language: go
go:
  - 1.5.3
  - tip
matrix:
  allow_failures:
    - go: tip
  fast_finish: true
install:
  - # Do nothing. This is needed to prevent default install action "go get -t -v ./..." from happening here (we want it to happen inside script step).
script:
  - go get -t -v ./...
  - diff -u <(echo -n) <(gofmt -d -s .)
  - go tool vet .
  - go test -v -race ./...
